/* All */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Title */
#Titolo {
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    color: rgb(202, 59, 178);
    text-align: center;
    margin: 2%;
    margin-bottom: 3%;
}

/* Description */
.Contenitore {
    margin: 0 10%;
}

#Description {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5%;
}

/* Grid Rules */

.row {
    /* DEBUG */
    background-color: aqua;
    min-height: 100px;
    margin: 0 10%;
}

    /* Clear Fix */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.person {
    /* DEBUG */
    float: left;
    width: calc(100% / 3);
    background-color: blueviolet;
    min-height: 50px;
    border: solid 1px #000;
    margin-left: calc(100 / 3);
}

/* People */

.foto-descr {
    padding: 0 5%;
}

.foto {
    object-fit: cover;
    height: 30%;
    width: 30%;
}