/* All */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Title */
#Titolo {
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    color: rgb(202, 59, 178);
    text-align: center;
    margin: 2%;
    margin-bottom: 3%;
}

/* Description */
.Contenitore {
    margin: 0 10%;
}

#Description {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5%;
}

/* Grid Rules */

.row {
    /* DEBUG */
    /* background-color: aqua; */
    min-width: 100px;
    margin: 0 10%;
}

    /* Clear Fix */
.row::after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 5%;
}

.person {
    /* DEBUG */
    float: left;
    width: calc(100% / 3);
    background-color: #fff;
    min-height: 50px;
    /* border: solid 1px #000; */
    padding: 0 5%;
}

/* People */

.foto-descr {
    /* DEBUG */
    margin: 0 5%;
    background-color: #000;
    /* border: solid #000; */
    width: 100%;
    display: inline-block;
}

.foto {
    object-fit: cover;
    height: 30%;
    width: 30%;
    float: left;
}

.nome {
    float: left;
    color: #fff;
    padding-left: 3%;
    padding-top: 4%;
    font-family: 'Alfa Slab One', cursive;
    font-size: 115%;
}

.profess {
    color: #fff;
    font-family: 'Nunito', sans-serif;
}

.email {
    color: rgb(43, 143, 224);
    font-family: 'Nunito', sans-serif;
}